.container-fluid{
    font-family: 'Jost', sans-serif;
	background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
    min-height: 100vh;
    padding: 0;
   nav{
    background-color: #eee;
   }
   section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
   
   }
}